<nav class="nav" id="topnav">
    <div class="logo"  > 
        <a class="logo" href="/"><h1 class="logo" alt="Covid-19 Dashboard"> Covid-19 Dashboard </h1></a>
    </div>
    <ul>
        <li class="nav-item"><a class="nav-item" href="about.html">About</a></li>
    </ul>
</nav>