<div class="grid-container"> 
    <!--Page content-->
    <div class="intro">
        <div class="intro-text">
            <h2>Abstract</h2> 
                <p>The covid-19 pandemic has led to a major change in the relationship between a
                country’s government and their citizens. The initiation of societal restrictions and
                infringements on individual liberty were introduced as emergency measures, but have
                they outlasted the emergency, as defined by excess mortality?
                Trust in politicians and legacy media is notoriously low, and of the big pharmaceutical
                companies, Pfizer alone has paid out over $4 Billion in fines for transgressions such as;
                “false claims and related acts”, “off-label or unapproved promotion of medical products”,
                “drug or medical equipment safety violation” among others since the year 2000, (Pfizer |
                Violation Tracker). There is also evidence provided by a Pfizer whistleblower to the BMJ
                alleging that mRNA trial data was falsified, (Covid-19: Researcher blows the whistle on
                data integrity issues in Pfizer’s vaccine trial).
                There have been hundreds of thousands of protestors gathering on a regular basis for
                several months, across Europe, North America, Australia and New Zealand who feel
                that their respective government’s are not responding proportionally, and there is a
                danger from emergent totalitarianism.
                This is the civil rights movement of our generation that will be a seminal period in
                human history.
                Considering the above, this proposal attempts to present officially collected data without
                the biased filter of political expediency, media narrative or financial incentives,
                especially where the data is seemingly ignored if it is at odds with claims used to
                implement authoritarian government policy.
                The ultimate objective of this proposal is to democratise access to data and provide a
                platform that can plot the data a user wants to see, rather than what the data provider
                wants the user to see.
                The minimal viable product will be a dashboard that plots data that undermines the
                necessity for authoritarian government policy.</p>
            <h2></h2>
        </div>
    </div>
</div>