<div class="grid-container">
    <div class="intro">
        <h2>Global data </h2>
        {{#each info.Global }}
            <p class="intro-text"> {{@key}} <span class="number"> {{this}}</span></p>
                {{/each}}
    </div>
    
    <div class="graph-links">
            <ul>
                <li class="buttons"><a href="/ds1"><button class="button button1">Covid-19 Data by Country</button></a></li>
                <li class="buttons"><a href="/ds2"><button class="button button2">Historical Data</button></a></li>
                <li class="buttons"><a href="/ds3"><button class="button button3" onclick="/ds3">Global Data per Country</button></a></li>
            </ul>
            
    </div>
</div>

{{!-- <div class="img-square-wrapper">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/03/19/21/35/covid-4948866_960_720.jpg" alt="Card image cap">
                    </div> --}}